@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "emberly-black";
  src: local("emberly-black"),
    url(../fonts/Emberly-Black.ttf) format("truetype");
}
@font-face {
  font-family: "emberly-black-narrow";
  src: local("emberly-black-narrow"),
    url(../fonts/Emberly-BlackNarrow.ttf) format("truetype");
}
@font-face {
  font-family: "emberly-bold";
  src: local("emberly-bold"), url(../fonts/Emberly-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "emberly-bold-narrow";
  src: local("emberly-bold-narrow"),
    url(../fonts/Emberly-BoldNarrow.ttf) format("truetype");
}
@font-face {
  font-family: "emberly-light";
  src: local("emberly-light"),
    url(../fonts/Emberly-Light.ttf) format("truetype");
}

/* Swiper Styles */
.swiper-button-next,
.swiper-button-prev {
  top: auto !important;
  bottom: 125px;
  background-color: white;
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
  padding: 10px;
}
.swiper-button-prev {
  padding-left: 5px;
}
.swiper-button-next {
  padding-right: 5px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}
.swiper-pagination-bullet {
  transition: ease all 1s;
}
.swiper-pagination-bullet {
  height: 4px !important;
  width: 10px !important;
  border-radius: 10px !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px !important;
}
.swiper-pagination {
  text-align: center !important;
  top: auto;
  bottom: -5px !important;
}
@media (min-width: 1024px) {
  .swiper-pagination {
    text-align: left !important;
    padding-left: 30%;
  }
}

/* // Custom animate in components */
.component-animation {
  /* transition: ease all 1s; */
}

.component-hidden {
  opacity: 0;
}

.component-show {
  opacity: 1;
}

/* Molecule Styles */
.emberly-black {
  font-family: "emberly-black";
}
.emberly-black-narrow {
  font-family: "emberly-black-narrow";
}
.emberly-bold {
  font-family: "emberly-bold";
}
.emberly-bold-narrow {
  font-family: "emberly-bold-narrow";
}
.emberly-light {
  font-family: "emberly-light";
}

/* // Hamburger Menu Styles */
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* Search Input Field */
.search__container {
  width: 250px;
  transition: ease all 0.3s;
}
@media (min-width: 768px) {
  .search__container {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .search__container {
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .search__container {
    width: 350px;
  }
}

.search__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  color: #ff8b88;
}

.search__input {
  width: 100%;
  padding: 6px 24px;
  padding-top: 9px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #bebebe;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  /* text-transform: uppercase; */
  letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.credits__container {
  margin-top: 24px;
}

.credits__text {
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}

.credits__link {
  color: #ff8b88;
  text-decoration: none;
  transition: color 250ms ease-in;
}

.credits__link:hover,
.credits__link:focus {
  color: rgb(191, 137, 135);
}

/* Footer Styles  */
.footer-logo {
  display: none;
}
@media (min-width: 480px) {
  .footer-logo {
    display: flex;
  }
}
